{% extends 'index.html' %}
{% block title %} {{ course.name }} | eLMS {% endblock title %}
{% block profile %}
{% url 'profile' myId %}
{% endblock %}
{% block user %}
{{user.username}}
{% endblock user %}
{% block courses %}
{% url 'facultyCourses' %}
{% endblock courses %}
{% block allCourses %}
{% url 'courses' %}
{% endblock %}
{% block content %}
<!-- navigation links -->

<!-- navigation links end -->
<div class="container">
   <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8 shadow-lg rounded p-4">
               <div class="text-center">
                  <div class="fw-bold text-start mb-3">Add Department</div>
                  <div class="form-group">
                     <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                           {{ field.label_tag }}
                           {{ field }}
                           <span style="color:red">{{ field.errors }}</span>
                        </div>
                        {% endfor %}
                       <!-- submit button -->
                        <div class="d-grid col-12 mx-auto">
                           <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                     </form>
                     {% if error_messages %}
                     <div class="alert alert-danger mt-3" role="alert">
                        {% for message in error_messages %}
                        {{ message }}
                        {% endfor %}
                     </div>
                     {% endif %}
                  </div>
               </div>
      </div>
   </div>
</div>

{% endblock %}